<% if (typeof errors != 'undefined') { %> <% errors.forEach(function(error){ %>
<div>
  <p style="color: #ff0000"><%= error.msg %></p>
</div>
<% }) %> <% } %> <% if( success_msg != '') { %>
<div>
  <p style="color: #00ff00"><%= success_msg %></p>
</div>
<% } %> <% if (error_msg != '') { %>
<div>
  <p style="color: #ff0000"><%= error_msg %></p>
</div>
<% } %> <% if (error != '') { %>
<div>
  <p style="color: #ff0000"><%= error %></p>
</div>
<% } %>
